[submodule "ansible/roles/ansible-role-docker"]
	path = ansible/roles/ansible-role-docker
	url = https://github.com/igorwojciechowski/ansible-role-docker
[submodule "ansible/roles/ansible-role-docker-compose"]
	path = ansible/roles/ansible-role-docker-compose
	url = https://github.com/igorwojciechowski/ansible-role-docker-compose
[submodule "ansible/roles/ansible-role-docker-mysql"]
	path = ansible/roles/ansible-role-docker-mysql
	url = https://github.com/igorwojciechowski/ansible-role-docker-mysql
[submodule "ansible/roles/ansible-role-docker-nginx"]
	path = ansible/roles/ansible-role-docker-nginx
	url = https://github.com/igorwojciechowski/ansible-role-docker-nginx
[submodule "ansible/roles/ansible-role-docker-node"]
	path = ansible/roles/ansible-role-docker-node
	url = https://github.com/igorwojciechowski/ansible-role-docker-node
[submodule "ansible/roles/ansible-role-docker-php"]
	path = ansible/roles/ansible-role-docker-php
	url = https://github.com/igorwojciechowski/ansible-role-docker-php
[submodule "ansible/roles/ansible-role-docker-postgres"]
	path = ansible/roles/ansible-role-docker-postgres
	url = https://github.com/igorwojciechowski/ansible-role-docker-postgres
[submodule "ansible/roles/ansible-role-docker-python"]
	path = ansible/roles/ansible-role-docker-python
	url = https://github.com/igorwojciechowski/ansible-role-docker-python
[submodule "ansible-role-user"]
	path = ansible-role-user
	url = https://github.com/igorwojciechowski/ansible-role-user
