[submodule "ansible/roles/ansible-role-docker"]
	path = ansible/roles/ansible-role-docker
	url = https://github.com/igorwojciechowski/ansible-role-docker
[submodule "ansible/roles/ansible-role-docker-compose"]
	path = ansible/roles/ansible-role-docker-compose
	url = https://github.com/igorwojciechowski/ansible-role-docker-compose
[submodule "ansible/roles/ansible-role-docker-mysql"]
	path = ansible/roles/ansible-role-docker-mysql
	url = https://github.com/igorwojciechowski/ansible-role-docker-mysql
[submodule "ansible/roles/ansible-role-docker-nginx"]
	path = ansible/roles/ansible-role-docker-nginx
	url = https://github.com/igorwojciechowski/ansible-role-docker-nginx
